
@font-face{

	font-family: principalTipo;
	src: url(Gameplay.ttf);
}

@font-face{
	font-family: titlesTipo;
	src: url(fFinish.ttf);
}


.titles-articles {
	font-size: 25px;
	text-align: center;
	color: rgb(0, 233, 0);
	margin-bottom: 20px;
}

.normal-title {
	text-align: center;
}


*{
	font-family: titlesTipo;
    margin: 0px;
    padding: 0px;
    color: white;
}

body{
	background: linear-gradient(45deg, black, rgb(59, 59, 59));
	background-size: 400% 400%;
	animation: cambiar 5s ease-in-out infinite;
}

@keyframes cambiar{
			0%{background-position: 0 50%;}
			50%{background-position: 100% 50%;}
			100%{background-position: 0 50%;}
}


#general {
	width: auto;
	display: grid;
	place-items: center;
	height: 550px;
}

#text {
	margin: 20px;
}

#my-info {
	display: flex;
	justify-content: center;
	align-items: center;
}

header{
	border-bottom: 2px solid white;
	background-color: rgb(93, 93, 93);
	top: 0;
	position: fixed; 
    width: 100%;
    height: 70px; 
}

img {
	filter: blur(.5px);
}

.links-buttons{
	color: white;
	text-decoration: none;
	line-height: 70px;
	padding: 10px 20px;
	font-size: 15px;
	font-weight: bold;
}


nav ul{
    text-align: center;
}

nav li{
    display: inline;
}


#links-interes{
	margin-top: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#links-interes > a {
	margin: auto;
	text-decoration: none;
	font-size: 10px;
}

#links-interes > a:hover {
	transform: scale(1.1);
}


#person-image{
	z-index: -1;
	width: 200px;
	border: 2px solid rgb(31, 229, 0);
	box-shadow: 0px 0px 20px rgb(31, 229, 0);
	border-radius: 5px;
}

.interes-images {
	width: 30px;
}

#name{
	font-size: 30px;
	margin: 10px;
}

#developer{
	text-align: center;
	font-size: 20px;
	color: white;
	padding: 10px;
}

#location{
	font-size: 15px; 
	text-align: center; 
	margin-top: 20px;
}

#description{
	white-space: nowrap;
	animation: typing 3s steps(111);
}


@keyframes typing {
	from  {
		clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
	}
	to{
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	}
}


/*CV STYLE*/

#my-information{
	margin-top: 100px;
	border-bottom: 1px solid white;
	display: flex;
	justify-content: center;
	align-items: center;
}

#my-information > div {
	margin: 30px;
}


p{
	margin: 10px;
	font-size: 13px;
	text-align: center;
}

/*EXPERIENCE PAGE CSS*/

#experience-content{
	margin: 50px;
	border-bottom: 1px solid white;
}

#experience-content section {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 95%;
	height: 20em;
}

#experience-content  section  h1, h2 {
	margin: auto;
	text-align: center;
	font-size: 15px;
}



#experience-content  section  p {
	margin: auto;
	text-align: justify;
}


/*FORMATION PAGE CSS*/

#formation-article {
	margin: 50px;
	width: auto;
	border-bottom: 1px solid white;
}

#formation-sections{
	margin: 100px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
}

#formation-sections section:hover{
	transform: scale3d(1.2, 1.2, 1.0);
}

/*RESPONSIVE PAGE*/

@media screen and (max-width: 900px){

	#general {
		margin-top: 50px;
		display: block;
	}


	#my-info {
		display: grid;
		place-items: center;
	}

	#experience-content section {
		margin-top: 30px;
		display: block;
	}

	#experience-content section h1, h2{
		margin-top: 20px;
	}

	#experience-content  section  p {
		margin-top: 20px;
		font-size: 10px;
		text-align: center;
	}

	#my-information {
		display: block;
	}

	#information{
		margin-bottom: 10px;
	}
} 

@media screen and (max-width: 500px){

	.links-buttons{
		font-size: 10px;
	}

	#links-interes{
		margin-bottom: 49px;
	} 

	#description{
		font-size: 9px;
	}

	#name{
		font-size: 15px;
	} 

	#developer{
		font-size: 14px;
	}

	#formation-article section{
		padding: 10px;
		margin: 50px;
		width: auto;
	}

	.titles-articles {
		font-size: 18px;
	}

	#general{
		margin-top: 15px;
	}

	#navegation {
		display: block;
	} 

	#location{
		font-size: 10px;
	} 

	a{
		font-size: 5px;
	} 

} 


@media only screen and (max-width: 450px){

	#description{
		font-size: 6px;
	} 

} 